<%title = "The Code Center | Edit" %>
<%- include('partials/header') %>

    <h3>Edit Registered Students</h3>
    <p>Student ID: <strong><%= id %></strong></p>

    <form action="/edit/<%= id %>" method="POST">
        <p>Firstname: <input type="text" name="firstName" value="<%= fname %>"></p>
        <p>Lastname: <input type="text" name="lastName" value="<%= lname %>"></p>
        <p>Gender: Male <input type="radio" name="gender" id="" value="Male"
                        <% if(gend === 'Male'){ %> checked="checked"<% } %> >
                    Female <input type="radio" name="gender"  id="" value="Female"
                    <% if(gend === 'Female') { %> checked="checked" <% } %> >
        </p>
    
        <p>Course: <select name="course" id="">
            <% var programs = ["Web Development",
                            "Java Programming",
                            "UI/UX",
                            "Mobile Development",
                            "Frontend Development",
                            "Data Science",
                            "Graphic Design"
                            ];
    
                    programs.forEach(function(program){
                    %>
            <option value="<%= program %>"<% if(prog === program){ %>
                selected = "selected" <%  } %>>
                
                <%= program %>
            
            </option>
            <% }) %>
    
        </select>
    </p>
    <input type="submit" name="" value="Click to register" id="">
    </form>
    
    
                        
<%- include('partials/footer')%>
                  
                    